{% block content %} 
<div>
    {%for post in object_list%}
    <div>
        {{post.author}}
    </div>
    <div>
      <h2>  {{ post.title }}</h2>
      </div>
      
      <div>
        <img src="{{ post.image.url}}" alt="{{ post.title }} " width="200" height="150">
      </div>
      <div>
        {{ post.body }}
      </div>
      <div>
        {% if post.public  %}
        <b>Public</b>
        {% else   %}
        <b>Private</b>
      </div>
        {% endif %}
        {% endfor %}
      </div>
</div>
{% endblock %}